.hover-button {
    scrollbar-highlight-color: deeppink;
    border-color: rgb(16, 0, 81);
    transition: background-color 0.3s; 
    color: rgb(0, 0, 0); 
    background-color: #00ffff;
    
   
}
button {
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color:rgb(255, 20, 147);
    padding: 1%;
    cursor: pointer;
    border-radius: 10%;
    border-width: 5%;
    column-rule-color:pink;
    
}

h1 {
    color:#ff1493;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    background-color:rgb(0, 0, 0);
    padding: 1.5%;
}
h2
{
    color: plum;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: deeppink;
    background-color: #e6e6e6;
}

p{
  color: #e6e6e6;  
  background-color: pink;
  padding: .5%;
  font-weight: lighter;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
body{
    background-color: palevioletred;
}
